<section id="terms" class="container">
        <h3>How To Raise Money In 8 Easy Steps</h3>
        <p>Everyone needs a helping hand sometimes. And no matter how deep their pockets are, most people have been faced with a situation where they’ve had to raise a large sum of funds before. If you’ve ever had to do it, you know that sorting out how to raise money as well as the fundraising process is no walk in the park.

        So for all you first-time fundraising organizers, or anyone who just feels lost or overwhelmed with figuring out how to raise money, GiveForward has come up with some steps to successful fundraising.</p>

        <p>&nbsp;</p>

        <h3>1. Define a goal</h3>
        <p>You don’t have to get carried away with setting a specific monetary goal, but it’s good to think about what you hope to achieve with your fundraiser. The main purpose of this is to give your potential donors a clear idea of where exactly their donations will be going. Setting a goal is also a good way to keep you focused and motivated in your fundraising efforts.</p>

        <p>&nbsp;</p>

        <h3>2. Know your options</h3>
        <p>The fundraising well is deep, friends. Depending on what your goal is, there are vast and varied ways to raise those necessary funds. To list just a few, there’s loans, grants, restaurant fundraisers, trust funds, nonprofit partnerships and online fundraising. It’s important to research all your options before starting your fundraiser, to be sure the method you’ve chosen is really the best way to reach your goal.</p>

        <p>&nbsp;</p>
        <h3>3. Choose a platform (or platforms)</h3>
        <p>Once you know all your options, you have to choose which platform is best suited to your needs. You can host your fundraiser either online or in person, with a whole trove of specific fundraising ideas in each category. We recommend using a combination of tactics to raise more money. Many of our most successful fundraisers combined both on- and offline efforts to maximize their reach and total money raised..</p>

        <p>&nbsp;</p>
        <h3>4. Organize your campaign</h3>
        <p>We know it seems like there are a million things to keep track of when you’re raising money. This is why we call our users “organizers” – it’s very important to stay organized when planning a fundraiser. Consider investing in a fundraising notebook to jot down ideas, keep track of donations, remind yourself of your final goal and schedule mini-goal deadlines.</p>
        <p>&nbsp;</p>

        <h3>5. Use your resources</h3>
        <p>The best way to get the most from your fundraising efforts is to try to emulate best practices. GiveForward provides a blog full of fundraising tips and success stories.</p>

       

        <h3>6. Enlist a team</h3>
        <p>Just to hammer home the benefits of collaboration, we want to stress how important it is to have help when you fundraise. By now you’ve gotten the point that fundraising is a lot of work. Building a team of co-organizers can help you smooth out the rough edges of your fundraiser. Studies have even proven that a fundraiser has better chances of success if organized by a team. For example, a GiveForward fundraiser with multiple organizers raises on average five times more money than one with a single organizer. There really is power in numbers</p>

        <h3>7. Get word out</h3>
        <p>If a fundraiser falls in the forest and no one is around to hear it, does it make a sound? …We think it’s probably better not to leave this one to chance. So after you’ve planned out your fundraiser, either online or in person, you have to advertise. Share your fundraising page on social media, through email and by word of mouth. Contact your local newspaper to see if you can advertise and get media coverage. Solicit help from local businesses – sometimes they’re willing to donate or help organize fundraising events. The more visible your fundraiser is, the more donations you’ll receive.</p>

        <h3>8. Show your appreciation</h3>
        <p>This seems apparent, but it really is very important to remember to show gratitude to your donors. The fact that people chose to give their hard-earned money to help you reach your goal, when they certainly didn’t have to, is incredible. So give back! Simple, personalized thank you letters are an easy way to show your appreciation and strengthen those relationships with your donors.</p>

         <h3>The bottom line</h3>
        <p>The most important thing to remember when navigating the challenge of how to raise money online is that it’s okay to ask for help – including initially asking for donations and also organizing a fundraiser. The beauty of fundraisers is seeing people come together to help reach a common goal – and with a little help that goal doesn’t have to be hard to reach.</p>
        <hr>

      <p style="text-align: right;"><%= link_to "Start a Fundraiser",  new_project_path, class: "btn btn-success" %></p> 

    </section><!--/#terms-->