<section id="bottom" class="wet-asphalt">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <h4>About Us</h4>
                    <p>Sakafund</i> is the first place to turn when you or someone you love is facing a financial challenge. <br>
                       It’s the central rallying place for giving and receiving meaningful support.</p>
                </div><!--/.col-md-3-->

                <div class="col-md-4 col-sm-6">
                    <h4>Company</h4>
                    <div>
                        <ul class="arrow">
                            <li><%= link_to "Home", root_path %></li>
                           <li><%= link_to "About Us", about_path %></li>                        
                            <li><%= link_to "Projects", projects_path %></li>                      
                            <li><%= link_to "Contact  Us", contact_path %></li>   
                            
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                

                <div class="col-md-4 col-sm-6">
                    <h4>Address</h4>
                    <address>
                        <strong><i class="fa fa-home" aria-hidden="true"></i> Sakafund Inc.</strong><br>
                        Lolwe Kisumu, Kenya<br>
                        <abbr title="Phone"><i class="fa fa-phone-square" aria-hidden="true"></i> Phone:</abbr> (+254) 706-480-612
                    </address>
                 
                </div> <!--/.col-md-3-->
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">  
            <div class="container">         
                &copy; 2017 Sakafund Inc.
                </div>     
                      
            </div>
        </div>
    </footer><!--/#footer-->